#form{
    color: white;
    
}
#name{
    margin-bottom: 10px;
}
#teaname{
    margin-bottom: 10px;  
}
#message{
    margin-bottom: 10px;  
}
#snacks{
    margin-bottom: 10px;   
 
}
#pay{
    margin-left: 60px;
}